.main
  margin 60px auto 0
  width 100%
  font-size 16px
  flex 1 0 auto
  max-width 960px

  header
    h1
      margin-bottom 24px
      font-size 32px
      line-height 40px

    .meta
      color #666
      font-size 14px

    .tags
      margin-left 40px

      a
        margin-left 20px
        font-weight 400

        &:first-child
          margin-left 0