.main
  margin 60px auto 0
  width 100%
  font-size 16px
  flex 1 0 auto
  max-width 960px
  line-height 2

  em
    font-weight 600
    text-decoration underline

  .greet
    font-size 24px
    font-weight 600
    font-style italic

    span
      display block

  .name
    margin 30px 0
    font-size 64px
    font-weight 600

  .main-worked
    padding 80px 0

  .worked-company
    display flex
    justify-content flex-start
    align-items center
    margin-top 20px

    em
      margin-right 80px
      filter grayscale(1)

    img
      width 140px
      object-fit cover